udemy-web-dev-course.code-workspace
getting-started-vs-code/Getting Started with Visual Studio Code.md
udemy-web-dev-course/notes-format.md
udemy-web-dev-course/notes.md
udemy-web-dev-course/2 Introduction to HTML/*
udemy-web-dev-course/3 Intermediate HTML/*
udemy-web-dev-course/4 Multi-Page Websites/4.0 File Paths/*
udemy-web-dev-course/4 Multi-Page Websites/4.1+Webpages/*
udemy-web-dev-course/4 Multi-Page Websites/4.3 HTML Porfolio Project/*
udemy-web-dev-course/5 Introduction to CSS/*
udemy-web-dev-course/6 CSS Properties/*